/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
body {
    padding-top: 56px;
}
.product-spinner {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, -50%);
}